<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#000000">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto gap-3">
        <li class="nav-item border border-1">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Todo</a>
        </li>
        <li class="nav-item border border-1">
          <a class="nav-link"[routerLink]="['/completed']" routerLinkActive="active">Task completati</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
